/* Background */
.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;   /* ✅ horizontal center */
  align-items: center; 
  padding-top: 60px;      /* ✅ vertical center */
  background: linear-gradient(135deg, #020617, #0f766e);
}
/* Center logo */
.logo-wrapper {
  display: block;       
  margin: 0 auto;       
  height: 110px; 
}

/* Card improvement */
.card {
      
  margin: 0 auto;    
  width: 380px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.564);
  text-align: center;
  transform: translateY(80px);
}

/* Input with icons */
.input-group {
  position: relative;
  margin-bottom: 16px;
}

.input-group i {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  color: #10b981;
  font-size: 14px;
}

.input-group input {
  width: 85%;
  padding: 12px 14px 12px 42px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 14px;
}

/* Buttons */
.back-btn {
  background: #ffffff;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
}

.next-btn {
  background: linear-gradient(135deg, #22c55e, #16a34a);
  border: none;
  color: white;
  padding: 10px 22px;
  border-radius: 10px;
  cursor: pointer;
}

.next-btn:hover {
  transform: translateY(-1px);
}

.next-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Login link */
.login-link {
  margin-top: 20px;
  text-align: center;
  font-size: 13px;
  color:#ffffff;
}

.login-link a {
  color: #22c55e;
  text-decoration: none;
}
.title {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 6px;
  color:#ffffff
}

.subtitle {
  text-align: center;   /* ✅ CENTER */
  font-size: 14px;
  color: #9b9da1;
  margin-bottom: 25px;
}
.content {
  display: flex;
  justify-content: center;   /* ✅ center card */
  align-items: center;
  width: 100%;
}

.logo-wrapper {
  display: flex;
  justify-content: center;  /* ✅ CENTER LOGO */
  margin-bottom: 14px;
}



